<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ilkom C2 API</title>
  <style>
    *{
      font-family: Roboto;
    }
    table{
      border-collapse: collapse;
    }
    td{
      padding: 5px 10px;
    }
  </style>
</head>
<body>
  <h2>ENDPOINT</h2>
  <table border="2">
    <tr>
      <th>Method</th>
      <th>Endpoint</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>GET</td>
      <td>/api/users/</td>
      <td></td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/api/users/:userId</td>
      <td>Get user by Id</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>/api/users/</td>
      <td></td>
    </tr>
    <tr>
      <td>DELETE</td>
      <td>/api/users/:userId</td>
      <td></td>
    </tr>
    <tr>
      <td>PATCH</td>
      <td>/api/users/</td>
      <td>Update user</td>
    </tr>
  </table>
</body>
</html>